<% content_for :head do %>
<%= "<title>#{@user.name} - monolist</title>".html_safe %>
<%= "<meta name='description' content='#{@user.name}のモノページ。#{@user.name}の欲しいモノ、持ってるモノを表示しています。'>".html_safe %>
<% end %>
<%= render 'profile' , user: @user %>


<%= render 'items/list' , items: @items %>